/*
 * This file is part of the project OpenCraft JavaScript
 * Project Link: <https://github.com/OpenCraft-Studios/JavaScript-Edition>
 * If you distribute this file, please, don't quit this copyright notes.
 * Thank you for watching my code!
 */

@charset "UTF-8";

#play-canvas {
  /* Size */
  width: 100%;
  height: 100%;
}

.do-not-display {
  /* Properties, such as angle, position, display, etc. */
  display: none;
}