/*
 * This file is part of the project OpenCraft JavaScript
 * Project Link: <https://github.com/OpenCraft-Studios/JavaScript-Edition>
 * If you distribute this file, please, don't quit this copyright notes.
 * Thank you for watching my code!
 */

@charset "UTF-8";

#options {
  /* Colors */
  background-color: #313234;
  color: #ffffff;
}

#options .container {
  /* Properties, such as angle, position, display, etc. */
  margin: 100px;
  margin-left: 740px;
}

#options .left-bar {
  /* Colors */
  background-color: #313234;
  color: #ffffff;

  /* Properties, such as angle, position, display, etc. */
  float: left;
  margin-top: 60px;
  padding: 30px;

  /* Size */
  height: 100%;
  width: 37%;

  /* Borders */
  border: 5px inset #c6c6c6;
}

#options .top-bar {
  /* Colors */
  background: #c6c6c6;
  color: #000000;

  /* Size */
  width: 100%;

  /* Borders */
  border: 3px outset;

  /* Properties, such as angle, position, display, etc. */
  position: fixed;
}

.property-label {
  /* Fonts */
  font-size: 1.4rem;
}

input[type='range'] {
  /* Size */
  width: 200px;

  /* Colors */
  accent-color: green;
}